{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Welcome to message board!</h1>
  </div>

  {% if messages %}
  <ul class="list-unstyled">
    {% for message_id, message in messages %}
    <li>
      <a href="{{ url_for('site.message_page', message_id=message_id) }}">
        {{ message.title }}
        {% if message.text %} ({{ message.text }}) {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if current_user.is_authenticated %}
  <form role="form" action="" method="post" name="add_message"
          class="form-horizontal">
           {{ form.csrf_token }}
      <div class="form-group">
        <label for="title" class="control-label col-sm-2">Title:</label>
        <div class="col-sm-10">
          {{ form.title(required=True, autofocus=True) }}
          {% for error in form.title.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group">
        <label for="text" class="control-label col-sm-2">Text:</label>
        <div class="col-sm-10">
          {{ form.text(required=True, autofocus=True) }}
          {% for error in form.text.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" name="add"
                  class="btn btn-primary">Add New Message</button>
        </div>
      </div>
    </form>

    {% if show_new_message %}
    <div>Message added successfuly</div>
    {% endif %}

    {% endif %}

{% endblock %}
