{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Welcome to message board!</h1>
  </div>

  {% if messages %}
  <ul class="list-unstyled">
    {% for message_id, message in messages %}
    <li>
      <a href="{{ url_for('site.message_page', message_id=message_id) }}">
        {{ message.title }}
        {% if message.text %} ({{ message.text }}) {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
