<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MBoard - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/ui-comments.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen"/>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body class style>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MBoard</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{{ url_for('site.home_page') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('site.login_page') }}">
              {% if current_user.is_authenticated %}
              Profile
              {% else %}
              Login
              {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container" role="main">
      {% block content %}{% endblock %}
    </div>
    <footer style="text-align: center;">
      &copy; 2017, Yunus Güngör
    </footer>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>
